{% extends "basic_layout.jinja2" %}

{% block headblock %}
<script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
<link href="{{ url_for('main_bp.static', filename='css/dashboard.css') }}" rel="stylesheet" />
{% endblock %}

{% block content %}

<header class="navbar navbar-expand-md navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">Company name</a>
    <button class="navbar-toggler d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <form class="d-none d-md-block w-100" method="POST" action="{{ url_for('lineup_bp.search') }}">
        {{ form.hidden_tag() }}
        <div class="input-group">
            {{ form.search(placeholder="Customer", class="form-control") }}
            {{ form.submit(class="btn btn-outline-secondary") }}
        </div>
    </form>
    <div class="navbar-nav  d-none d-md-block">
        <div class="nav-item text-nowrap">
            <a class="nav-link px-3" href="{{ url_for('auth_bp.logout') }}">Sign out</a>
        </div>
    </div>
</header>



<div class="container-fluid">
    <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <form class="d-md-none pt-1" method="POST" action="{{ url_for('lineup_bp.search') }}">
            <div class="input-group d-md-none pt-1">
                {{ form.search(placeholder="Customer", class="form-control") }}
                {{ form.submit(class="btn btn-outline-secondary") }}
            </div>
        </form>

        <div class="position-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{url_for('main_bp.dashboard')}}">
                <span data-feather="home"></span>
                Dashboard
            </a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('lineup_bp.history')}}">
                <span data-feather="users"></span>
                Served Record
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">
                <span data-feather="bar-chart-2"></span>
                Reports
                </a>
            </li>

            <li class="nav-item d-md-none">
                <a class="nav-link px-3" href="{{ url_for('auth_bp.logout') }}">Sign out</a>
            </li>
        </ul>
        </div>

    </nav>

    {% block main %}{% endblock %}

    </div>
</div>
<script>
    feather.replace()
</script>
{% endblock %}