{% extends "basic_layout.jinja2" %}


{% block content %}
<div>
    <ul>
        <li>
            <h1>Next number: {{ next_num }}</h1>
        </li>
        <li>
            <h1>In line: {{ waitnum }}</h1>
        </li>
    </ul>
</div>

<div>
    <h2>Lineup Form</h2>
    <form method="POST" action="{{ url_for('lineup_bp.lineup') }}">
        {{ form.hidden_tag() }}

        <fieldset>
        {{ form.email.label }}
        {{ form.email }}
        </fieldset>

        <fieldset>
        {{ form.phone.label }}
        {{ form.phone }}
        </fieldset>


        {{ form.submit }}
    </form>
</div>
{% endblock %}