{% extends "dashboard.jinja2" %}

{% block main %}

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">People in line: {{ waitnum }}</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
                <button type="button" class="btn btn-sm btn-outline-secondary" onClick='location.href=&quot;{{ url_for('lineup_bp.served') }}&quot;'>
                    Next One
                </button>
            </div>
        </div>

        <h2>Waiting List</h2>
        <div class="table-responsive">
            <table class="table table-striped table-sm">
            <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for customer in customers %}
                <tr>
                <td>{{ customer.id }}</td>
                <td>{{ customer.email }}</td>
                <td>{{ customer.phone }}</td>
                <td>{{ customer.status }}</td>
                <td><a href="{{ url_for('lineup_bp.served', customer_id=customer.id) }}">Served</a></td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>
    </main>
{% endblock %}